<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
      android:name=".SmartLifeLineNotificationService"
      android:exported="true"
      android:label="SmartLife LINE Import"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>

    <activity
      android:name=".SmartLifeShareReceiverActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:finishOnTaskLaunch="true"
      android:noHistory="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".SmartLifeWidgetProvider"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/smartlife_home_widget_info" />
    </receiver>
  </application>
</manifest>
